<div mat-dialog-content>
    <h1>User privileges:</h1>
    <div>
        <table class="mat-elevation-z8">
            <thead>
                <tr>
                    <th>Rent vehicle</th>
                    <th>Add discount</th>
                    <th>Get statistic</th>
                    <th>Add vehicle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><mat-checkbox [(ngModel)]="value[0]"></mat-checkbox></th>
                    <th><mat-checkbox [(ngModel)]="value[1]"></mat-checkbox></th>
                    <th><mat-checkbox [(ngModel)]="value[2]"></mat-checkbox></th>
                    <th><mat-checkbox [(ngModel)]="value[3]"></mat-checkbox></th>
                </tr>   
            </tbody>
            
            <button mat-raised-button (click)="onSaveClick()">Save</button>
        </table>
    </div>
</div>