<ul class="nav navbar-nav menu_nav ml-auto">
    <li class="nav-item active"><a class="nav-link"
        routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="nav-item submenu dropdown">
        <a href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Rent</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/category.html">Shop Category</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/single-product.html">Product Details</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/checkout.html">Product Checkout</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/cart.html">Shopping Cart</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/confirmation.html">Confirmation</a></li>
        </ul>
    </li>
    <li class="nav-item submenu dropdown">
        <a href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">My cars</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/single-blog.html">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item submenu dropdown">
        <a href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Request history</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/login.html">Login</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/tracking.html">Tracking</a></li>
            <li class="nav-item"><a class="nav-link"
                   href="assets/karma/elements.html">Elements</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link"
           href="assets/karma/contact.html">Contact</a></li>
</ul>