<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--  FILE PATHS  -->
    <property name="MESSAGE_LOG_PATH" value="../message/logs"/>

<!--  CONSOLE APPENDER  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>
<!--  FILE APPENDERS  -->

<!--  MESSAGE APPENDER  -->
    <appender name="MESSAGE-SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${MESSAGE_LOG_PATH}/message_log.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${MESSAGE_LOG_PATH}/archived/message_log_%d{dd-MM-yyyy}_%i.log
            </fileNamePattern>
            <maxFileSize>3MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>

<!--APPENDER REF FOR EVERY MICROSERVICE-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.example.message" additivity="false" level="info">
        <appender-ref ref="MESSAGE-SAVE-TO-FILE" />
    </logger>


</configuration>