<!-- Custom styles for this template -->
<link href="assets/css/shop-item.css" rel="stylesheet">
<div style="overflow-y: hidden; overflow-x: hidden;" class="container">
  <div class="row">
    <div class="col-10">
      <h1>Vehicle details</h1>
    </div>
    <div class="col-2">
      <button mat-raised-button color="warn" class="pull-right" (click)="close()">X</button>
    </div>
  </div>
  <div  mat-dialog-content>
      <div class="row">
        <div class="col-lg-9">

          <div class="card mt-4">
            <img *ngIf="retrievedImage" class="card-img-top img-fluid" [src]="retrievedImage" alt="">
            <div class="card-body">
              <h3 *ngIf="make != null && model != null" class="card-title">{{make.value}} {{model.value}}</h3>
              <h4 *ngIf="username != null">Owner : {{username}}</h4>
              <h6 *ngIf="location != null">Location : {{location.state.value}}, {{location.city.value}}, {{location.street.value}}</h6>
              <p *ngIf="style != null">Style : {{style.value}}</p>
              <p *ngIf="transmission != null">Transmission : {{transmission.value}}</p>
              <p *ngIf="fuelType != null">Fuel type : {{fuelType.value}}</p>
              <p *ngIf="vehicle != null">Mileage : {{vehicle.mileage}}</p>
              <p *ngIf="vehicle != null">Mileage limit : {{vehicle.mileageLimit}}</p>
              <p *ngIf="collisionProtection != null">Collision protection : {{collisionProtection}}</p>
              <p *ngIf="vehicle != null">Children seats : {{vehicle.childrenSeats}}</p>
            </div>
          </div>
          <!-- /.card -->
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Vehicle Reviews
            </div>
            <div class="card-body">
              <pm-view-reviews [(vehicleId)] = "vehicleId"></pm-view-reviews>
            </div>
          </div>
          <!-- /.card -->
          <div *ngIf="userId != userIdInVehicle" class="card mt-4">
            <div class="card-header">
              Add Review
            </div>
            <div class="card-body">
              <div class="row">
                <mat-form-field style="width: 400px;" [style.fontSize]="16">
                  <mat-label>What's on your mind?</mat-label>
                  <textarea matInput [(ngModel)]="reviewText"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
              </div>
              <div class="row">
                <pm-create-review [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></pm-create-review>
              </div>
              <div class="row">
                <button mat-raised-button	color="accent" (click)="addReview()">Add</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-9 -->
      </div>
  </div>
</div>