<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/karma/img/features/f-icon1.png"
                             alt="">
                    </div>
                    <h6>Quality cars</h6>
                    <p></p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/karma/img/features/f-icon2.png"
                             alt="">
                    </div>
                    <h6>Affordable price</h6>
                    <p></p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/karma/img/features/f-icon3.png"
                             alt="">
                    </div>
                    <h6>Unbeatable service</h6>
                    <p></p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/karma/img/features/f-icon4.png"
                             alt="">
                    </div>
                    <h6>Secure payment</h6>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>