<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Rent-O 2020</div>
            <p></p>
            <div class="col-lg-4">Icons made by <a href="https://www.flaticon.com/authors/nhor-phai"
                    title="Nhor Phai">Nhor Phai</a> ,<a href="https://www.flaticon.com/authors/freepik"
                    title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                    www.flaticon.com</a></div>

            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
                    class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
                    class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right"><a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of
                    Use</a></div>
        </div>
    </div>
</footer>