table {
  width: 100%;
}

.rentButton {
  height: 50px;
  width: 200px;
  margin-top: 40px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  ;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}